
<div class="textbox" id="contentOne">
	<h3>Welcome to <span id="Goodwill">Goodwill</span> Computers &amp; Parts</h3>
	<div id="columnWrapper">
		<div class="textColumn">
			<p>Our mission is to empower people with disabilities and
			other needs to achieve independence and
			enhance their lives on a daily basis.</p>
			<p>All proceeds support Goodwill's amazing programs to assist the elderly and disabled, so you help us in our mission whenever you purchase Computer Store merchandise!</p>
		</div>
		<div class="picColumn">
			<img class="sideImage" src="/resources/welcome.png" alt="Woman using laptop" />
		</div>
	</div>
</div>
<div class="textbox" id="contentTwo">
	<h3>A Few Fun Facts About Our Computer Recycling <span id="easter">Program</span></h3>
	<div class="textColumn">
		<p>When you donate to Goodwill, you help the environment, too. Our partnership with Dell Reconnect prevents 10,000 pounds of E-Waste from going to landfills each year.</p>
		<p>And when you buy from Goodwill, you help prevent software counterfeiting. Our status as a Microsoft Registered Refurbisher allows us to provide you with a genuine Windows license with your computer purchase.</p>
	</div>
	<div class="picColumn">
		<img class="sideImage" src="/resources/dellreconnect.png" alt="Dell Reconnect" />
		<img class="sideImage" src="/resources/microsoft.png" alt="Microsoft Registered Refurbisher" />
	</div>
</div>
<div class="textbox" id="contentThree">
	<h3>The Refurbishing <span id="Goodwill">Process</span></h3>
	<div class="textColumn">
		<p>Donated computers are stripped down to their bare bones, and then each part is tested individually for quality assurance.</p>
		<p>All hard drives are erased according to the U.S. Department of Defense's rigorous standards, keeping your data secure.</p>
		<p>Computers are then built from the quality-tested parts, and an operating system is installed and configured before the unit is shipped.</p>
	</div>
	<div class="picColumn">
		<img class="sideImage" src="/resources/compInside.png" alt="An open computer" />
	</div>
</div>
<div class="textbox" id="contentFour">
	<h3>What you can <span id="easter">Donate</span></h3>
	<div class="textColumn">
		<p>We accept all working and non-working electronics. This includes:</p>
		<ul>
			<li>Desktop &amp; laptop computers</li>
			<li>Computer monitors</li>
			<li>Keyboards mice &amp; speakers</li>
			<li>Cables, RAM, hard drives &amp; all other computer hardware</li>
		</ul>
	
		<p>All donations can be completed at the side door of the Springfield Bechtle Goodwill location.</p>

		<p>Anything that cannot be repurposed/refurbished will be recycled.</p>
	</div>
	<div class="picColumn">
		<img class="sideImage" src="/resources/macintoshii.png" alt="An old computer" />
	</div>

</div>
<div class="textbox" id="contentFive">
	<h3>Our <span id="Goodwill">Guarantee</span></h3>
	<div class="textColumn">
		<p>Computer store merchandise comes with a seven day warranty, with the exceptions of:</p>
			<ul>
				<li>Laptop Batteries</li>
				<li>"Scraptops"</li>
				<li>Printer Cartridges</li>
			</ul>
		<p>A $25 restocking fee applies to all desktop and laptop computers.</p>
		<p>For all warranty-related questions and concerns, please see a computer recycling technician.</p>
	</div>
	<div class="picColumn"></div>
</div>
<div class="textbox" id="contentSix">
	<h3>Directors &amp; <span id="recycle">Managers</span></h3>
	<span class="mgrTitle">Your Store Manager is: </span>
	<span class="mgrName">Kevin Landers (937) 399-9013</span>
	<span class="mgrTitle">Your Regional Manager is:</span>
	<span class="mgrName">Tom Kingery (937) 528-6341</span>
	<span class="mgrTitle">Your Computer Recycling Manager is:</span>
	<span class="mgrName">Dennis Osterfield (937) 461-4800</span>
	<span class="mgrTitle">Your Retail Director is:</span>
	<span class="mgrName">Matt Arntz (937) 528-6503</span>
</div>
<div class="textbox" id="contentSeven">
	<h3>Comments or <span id="Goodwill">Questions?</span></h3>
	<div class="textColumn">
		<p>Ask any of our friendly computer recycling technicians.</p>
		<br/>
		<p>At Goodwill Computers & Parts customer service is our number one priority!</p>
	</div>
	<div class="picColumn">
		<img class="sideImage" src="/resources/customer.png" alt="Another happy customer" />
	</div>
</div>	
