html, body {
	width: 100%;
	height: 97%;
}

body {
	background-image:url("bg_clouds.jpg");
	font-family: "Nobile", sans-serif;
	overflow:hidden;
	min-width: 960px;
}

h3 {
	margin-top: 0;
	font-weight:400;
	font-size:24pt;
}

p, li {
	font-size:16pt;
}

ul {
	list-style-type:none;
}

img {
	display:block;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: -20px;
	text-align:center;
}

/*NAVBAR*/

#nav {
	background: rgba(255, 255, 255, 0.80);
	height:2.8em;
	margin-top: 2.5%;
	width: 100%;
	text-align: center;
	margin-bottom:2.5%;
	position: relative;
}

#highlight {
	width: 12.2857%;
	height: 100%;
	background-color: rgba(0, 71, 255, 0.49);
	position: absolute;
	left: 1%;
	
}

.button {
	font-weight: bold;
	float: left;
	width: 14.2857%;
	height: 100%;
	line-height:3em;
	cursor: pointer;
	position:relative;
}

.button:hover {
	background-color: rgba(0, 71, 255, 0.15);
}

/*END OF NAVBAR*/

/*TEXTBOXES*/

#content {
	height:80%;
}

.textbox {
	text-align:left;
	background: rgba(255, 255, 255, 0.80);
	display:inline-block;
	height: 100%;
	width: 97%;
	padding-left: 1%;
	padding-right: 2%;
	padding-top: 2%;
}

#columnWrapper {
	clear: both;
	overflow: hidden;
}

.textColumn {
	float: left;
	width: 60%;
	margin-right: 2%;
	margin-bottom: 1em;
	font-size: 1.3em;
	display:inline-block;
}

.picColumn {
	float: right;
	width: 38%;
	margin-bottom: 1em;
	display:inline-block;
}

.sideImage {
	max-width: 100%;
	height: auto;
	float: right;
}

/*END OF TEXT BOXES*/

/*SPECIFIC TEXT BOX CSS*/

#contentSix {
/*	text-align:center;*/
}

/*END OF SPECIFIC TEXT BOX CSS*/

/*FOOTER*/

#footer, #push {
    height: 20px;
    margin-left: 8%;
    margin-right: 8%;
/*    height: 5%;*/
/*    width:100%;*/
/*    position: absolute;*/
/*    bottom: 20px;*/
}

#logo {
	font-size:16pt;
	float:left;
}

#awesomeDudes {
	float:right;
	margin-top: .8em;
}

/*END OF FOOTER*/

/* Span Tags CSS */


#Goodwill {
	color:blue;
	font-family:"Archivo Black", sans-serif;
	font-weight:400;
	font-size:1.1em;
}

#easter {
	color:red;
	font-family:"Archivo Black", sans-serif;
	font-weight:400;
	font-size:1.2em;
}

#miami {
	color:gray;
}

#recycleWord {
	color:green;
	font-family:"Archivo Black", sans-serif;
	font-weight:400;
	font-size:1.15em;
}

.mgrTitle {
	font-weight: bold;
	font-size: 16pt;
	display: block;
}

.mgrName {
	margin-bottom: 1em;
	font-size: 14pt;
	display: block;
}



